@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;


.content-wrapper{
    padding: 0px 16%;
    overflow-x: hidden;
}

h2, .menu {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.router-link-active.router-link-exact-active {
    color: #DD9D3C;
}

@media (max-width: 1200px) {
    .content-wrapper{
        padding: 0px 9%;
    }
}

@media (max-width: 900px) {
    .content-wrapper{
        padding: 0px 3%;
    }
}